@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/css.css">
    <title>Login Servicentro LABCO</title>
</head>

<body>
    <div class="container">
        <div class="image-container">
            <img src="/imagenes/motorcito.jpeg" class="img-fluid" alt="Motorcito">
        </div>

        <div class="login-container">
            <div class="logo">
                <img src="/imagenes/logo-Labco-sin-fondo.png" alt="Logo de LABCO">
            </div>
            <section>
                <form id="account" method="post" class="form-signin">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="input-propio">
                        <div class="input-group flex-nowrap mb-3">
                            <span class="input-group-text" id="basic-addon1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"></path>
                                    <path fill-rule="evenodd"
                                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1">
                                    </path>
                                </svg>
                            </span>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username"
                                   aria-required="true" placeholder="Usuario" />
                        </div>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="input-group flex-nowrap mb-3">
                        <span class="input-group-text" id="basic-addon2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-lock-fill" viewBox="0 0 16 16">
                                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2">
                                </path>
                            </svg>
                        </span>
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password"
                               aria-required="true" placeholder="Contraseña" />
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                    <div class="checkbox mb-3">
                        <label asp-for="Input.RememberMe">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            Recordarme
                        </label>
                    </div>

                    <button id="login-submit" type="submit" class="btn btn-bd-primary w-100">Iniciar Sesión</button>
                </form>
                <div class="mt-3">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">¿Olvidaste tu contraseña?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse como nuevo usuario</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar confirmación de correo</a>
                    </p>
                </div>
            </section>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>

</html>

