@page
@model RegisterModel
@{
    ViewData["Title"] = "Login Servicentro LABCO";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/css.css">
</head>

<body>
    <div class="container">
        <!-- Contenedor de Imagen -->
        <div class="image-container">
            <img src="/imagenes/motorcito.jpeg" class="img-fluid" alt="Motorcito">
        </div>

        <!-- Contenedor de Login -->
        <div class="login-container">
            <div class="logo">
                <img src="/imagenes/logo-Labco-sin-fondo.png" alt="Logo de LABCO">
            </div>

            <!-- Formulario de Login -->
            <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                <div class="input-propio">
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"></path>
                                <path fill-rule="evenodd"
                                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1">
                                </path>
                            </svg>
                        </span>

                        <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="Usuario"
                               aria-label="Usuario" aria-describedby="addon-wrapping" />
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-lock-fill" viewBox="0 0 16 16">
                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2">
                            </path>
                        </svg>
                    </span>
                    <input asp-for="Input.Password" class="form-control" type="password" autocomplete="current-password"
                           placeholder="Contraseña" aria-label="Contraseña" aria-describedby="addon-wrapping" />
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>

                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-lock-fill" viewBox="0 0 16 16">
                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2">
                            </path>
                        </svg>
                    </span>
                    <input asp-for="Input.ConfirmPassword" class="form-control" type="password" autocomplete="new-password"
                           placeholder="Confirmar Contraseña" aria-label="Confirmar Contraseña" aria-describedby="addon-wrapping" />
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                <button id="registerSubmit" type="submit" class="btn btn-bd-primary">Registrarse</button>
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>

</html>

