<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FacturacionLabco</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/marca.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FacturacionLabco.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
</head>
<body>
        <!-- Barra lateral -->
        <div class="d-flex flex-column vh-100 p-3 bg-white shadow-sm menu">
            <!-- Logo -->
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto justify-content-center">
                <div class="logo">
                    <img src="~/Imagenes/labco.png" alt="LABCO Logo">
                </div>
            </a>
            <hr>
            <div class="container-fluid">
                <!-- Menú de navegación -->
                <ul class="nav nav-pills flex-column mb-auto">
                    <!-- Opción Factura -->
                    <li class="nav-item">
                    <a asp-area="" asp-controller="Factura" asp-action="Index" class="d-flex align-items-center justify-content-center">
                            <i class="bi bi-file-earmark-bar-graph"></i>
                            <span class="fs-5 ms-2 d-none d-sm-inline">Factura</span>
                        </a>
                    </li>
                    <!-- Opción Cliente -->
                    <li class="nav-item">
                    <a asp-area="" asp-controller="Cliente" asp-action="Index" class="d-flex align-items-center justify-content-center">
                            <i class="bi bi-person-fill"></i>
                            <span class="fs-5 ms-2 d-none d-sm-inline">Cliente</span>
                        </a>
                    </li>
                    <!-- Opción Trabajadores -->
                    <li class="nav-item">
                    <a asp-area="" asp-controller="Trabajador" asp-action="Index" class="d-flex align-items-center justify-content-center">
                            <i class="bi bi-people-fill"></i>
                            <span class="fs-5 ms-2 d-none d-sm-inline">Trabajador</span>
                        </a>
                    </li>
                    <!-- Opción Vehículo -->
                    <li class="nav-item">
                    <a asp-area="" asp-controller="Vehiculo" asp-action="Index" class="d-flex align-items-center justify-content-center">
                            <i class="bi bi-car-front-fill"></i>
                            <span class="fs-5 ms-2 d-none d-sm-inline">Vehículo</span>
                        </a>
                    </li>
                    <!-- Opción Marca -->
                    <li class="nav-item">
                    <a asp-area="" asp-controller="Marca" asp-action="Index" class="d-flex align-items-center justify-content-center">
                            <i class="bi bi-substack"></i>
                            <span class="fs-5 ms-2 d-none d-sm-inline">Marca</span>
                        </a>
                    </li>
                    <!-- Opción Productos -->
                    <li class="nav-item">
                    <a asp-area="" asp-controller="Producto" asp-action="Index" class="d-flex align-items-center justify-content-center">
                            <i class="bi bi-clipboard-check-fill"></i>
                            <span class="fs-5 ms-2 d-none d-sm-inline">Productos</span>
                        </a>
                    </li>
                    <!-- Opción logout -->
                    <!-- Opción Logout -->
                    <li class="nav-item">
                        <a href="#" class="d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#ModalMensajeAdvertencia">
                            <i class="bi bi-box-arrow-right"></i>
                            <span class="fs-5 ms-2 d-none d-sm-inline">Logout</span>
                        </a>
                    </li>
                </ul>
            <!-- Modal Mensaje Advertencia -->
            <div class="modal " id="ModalMensajeAdvertencia" tabindex="-1" aria-labelledby="ModalMensajeAdvertencia"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="container-modal1 text-center">
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="129" height="129" fill="#771019" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0
                                                .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <h5 class="text-custom1">¿Desea Realizar la acción?</h5>
                                    </div>
                                </div>
                                <!-- Formulario de logout -->
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                    <div class="row botones">
                                        <div class="col-6 d-flex justify-content-end">
                                            <button class="btn btn-light d-flex align-items-center justify-content-center"
                                                    type="submit">
                                                Confirmar
                                            </button>
                                        </div>
                                        <div class="col-6 d-flex">
                                            <button type="button" class="btn btn-anular d-flex align-items-center justify-content-center"
                                                    data-bs-dismiss="modal" aria-label="Close">
                                                Anular
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    <main>
        @RenderBody()
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FacturacionLabco - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</html>
