@model IEnumerable<FacturacionLabco_Models.Marca>
@{

    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Marca.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <title>Marca</title>
    <!--Logo para la pestaña-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
</head>
<body>
    <!-- Barra lateral -->
    <div class="d-flex flex-column vh-100 p-3 bg-white shadow-sm menu">
        <!-- Logo -->
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto justify-content-center">
            <div class="logo">
                <img src="~/Imagenes/labco.png" alt="LABCO Logo">
            </div>
        </a>
        <hr>
        <div class="container-fluid">
            <!-- Menú de navegación -->
            <ul class="nav nav-pills flex-column mb-auto">
                <!-- Opción Factura -->
                <li class="nav-item">
                    <a href="#" class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-file-earmark-bar-graph"></i>
                        <span class="fs-5 ms-2 d-none d-sm-inline">Factura</span>
                    </a>
                </li>
                <!-- Opción Cliente -->
                <li class="nav-item">
                    <a href="#" class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-person-fill"></i>
                        <span class="fs-5 ms-2 d-none d-sm-inline">Cliente</span>
                    </a>
                </li>
                <!-- Opción Trabajadores -->
                <li class="nav-item">
                    <a href="#" class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-people-fill"></i>
                        <span class="fs-5 ms-2 d-none d-sm-inline">Trabajador</span>
                    </a>
                </li>
                <!-- Opción Vehículo -->
                <li class="nav-item">
                    <a href="#" class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-car-front-fill"></i>
                        <span class="fs-5 ms-2 d-none d-sm-inline">Vehículo</span>
                    </a>
                </li>



                <!-- Opción Marca -->
                <li class="nav-item">
                    <a href="#" class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-substack"></i>
                        <span class="fs-5 ms-2 d-none d-sm-inline">Marca</span>
                    </a>
                </li>




                <!-- Opción Servicio -->
                <li class="nav-item">
                    <a href="#" class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-tools"></i>
                        <span class="fs-5 ms-2 d-none d-sm-inline">Servicio</span>
                    </a>
                </li>
                <!-- Opción Productos -->
                <li class="nav-item">
                    <a href="#" class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-clipboard-check-fill"></i>
                        <span class="fs-5 ms-2 d-none d-sm-inline">Productos</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="custom-wrapper">
        <div class="col-12 col-md-6 d-flex align-items-center">
            <div class="volver">
                <h2>Buscar Marca</h2>
            </div>
        </div>
        <div class="container-custom">

            <div class="row mb-3">
                <div class="col-12 col-md-8">

                    <div class="mb-4">
                    </div>
                    <input type="text" class="form-control" placeholder="Buscar Marca" id="BuscarMarca" onkeyup="filtrarTabla()">
                </div>
                <div class="col-12 col-md-3 text-start mt-5">
                    <div class="modal fade" id="ModalMarca" tabindex="-1" aria-labelledby="ModalMarca"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <!-- Encabezado -->
                                    <div class="encabezado justify-content-between">
                                        <!-- Título -->
                                        <h1 class="modal-title fs-5">Agregar Marca</h1>
                                        <!-- Información del usuario -->
                                        <div class="d-flex align-items-center user-info">
                                            <i class="bi bi-person-fill me-2"></i>
                                            <span class="user-name">Messi</span>
                                        </div>
                                    </div>
                                    <div class="container-modal">
                                        <form asp-controller="Marca" asp-action="Crear" method="post">
                                            <div class="row">
                                                <div class="col text-center">
                                                    <h5>Datos de la marca</h5>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-5 text-start">
                                                    <h9 for="Nombre_Marca">Nombre</h9>
                                                </div>
                                                <div class="col-7">
                                                    <input name="Nombre_Marca" class="form-control" placeholder="Ingrese aquí">
                                                </div>
                                            </div>

                                            <div class="row botones">
                                                <div class="col-6 d-flex justify-content-end">
                                                    <button type="button" class="btn btn-anular d-flex align-items-center justify-content-center"
                                                            data-bs-dismiss="modal" aria-label="Close">
                                                        Anular
                                                    </button>
                                                </div>
                                                <div class="col-6 d-flex">
                                                    <button type="submit" class="btn btn-light d-flex align-items-center justify-content-center"
                                                            data-bs-dismiss="modal" aria-label="Close">
                                                        Guardar
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success btn-mt-3" type="button" data-bs-toggle="modal" data-bs-target="#ModalMarca">Crear +</button>
                </div>

                <div class="modal fade" id="ModalEliminarMarca" tabindex="-1" aria-labelledby="ModalEliminarMarca"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="d-flex">
                                </div>
                                <div class="container-modal1 text-center">
                                    <div class="row justify-content-center">
                                        <div class="col-12">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="129" height="129" fill="#77221d" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                                            </svg>
                                        </div>
                                    </div>
                                    <form asp-controller="Marca" id="formEliminar" asp-action="Eliminar" method="post">
                                        <input type="hidden" id="marcaId" name="Id" value="" />
                                    </form>
                                    <div class="row justify-content-center">
                                        <div class="col-12">
                                            <h5 class="text-custom1">¿Desea eliminar la marca seleccionada?</h5>
                                        </div>
                                    </div>
                                    <div class="row botones">
                                        <div class="col-6 d-flex justify-content-end">
                                            <button type="submit" class="btn btn-light d-flex align-items-center justify-content-center"
                                                    form="formEliminar" aria-label="Close">
                                                Confirmar
                                            </button>
                                        </div>
                                        <div class="col-6 d-flex">
                                            <button type="button" class="btn btn-anular d-flex align-items-center justify-content-center"
                                                    data-bs-dismiss="modal" aria-label="Close">
                                                Anular
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @if (Model.Any())
            {
                <div class="table-responsive" id="TablaMarca">
                    <table class="table table-bordered table-hover table-custom">
                        <thead>
                            <tr>
                                <th class="text-nowrap">Nombre</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr data-id="@item.Id" data-nombre="@item.Nombre_Marca" onclick="seleccionarFila(this)">
                                    <td class="Nombre">@item.Nombre_Marca</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

            <div class="col-12 col-md-3 text-start mt-5">
                <div class="modal fade" id="ModalModificarMarca" tabindex="-1" aria-labelledby="ModalModificarMarca"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body">
                                <!-- Encabezado -->
                                <div class="encabezado justify-content-between">
                                    <!-- Título -->
                                    <h1 class="modal-title fs-5">Agregar Marca</h1>
                                    <!-- Información del usuario -->
                                    <div class="d-flex align-items-center user-info">
                                        <i class="bi bi-person-fill me-2"></i>
                                        <span class="user-name">Messi</span>
                                    </div>
                                </div>
                                <div class="container-modal">
                                    <form asp-controller="Marca" asp-action="Editar" method="post">
                                        <input type="hidden" id="MarcaId" name="Id" value="" />
                                        <div class="row">
                                            <div class="col text-center">
                                                <h5>Datos de la marca</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5 text-start">
                                                <h9 for="Nombre_Marca">Nombre</h9>
                                            </div>
                                            <div class="col-7">
                                                <input id="Nombre_Marca" name="Nombre_Marca" class="form-control" placeholder="Ingrese aquí">
                                            </div>
                                        </div>

                                        <div class="row botones">
                                            <div class="col-6 d-flex justify-content-end">
                                                <button type="button" class="btn btn-anular d-flex align-items-center justify-content-center"
                                                        data-bs-dismiss="modal" aria-label="Close">
                                                    Anular
                                                </button>
                                            </div>
                                            <div class="col-6 d-flex">
                                                <button type="submit" class="btn btn-light d-flex align-items-center justify-content-center"
                                                        data-bs-dismiss="modal" aria-label="Close">
                                                    Guardar
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 text-end">
                <div class="actions d-flex justify-content-start">
                    <button class="btn btn-custom" type="button" id="btnModificarMarca" data-bs-toggle="modal" data-bs-target="#ModalModificarMarca">Modificar</button>
                    <button class="btn btn-custom2" type="button" data-bs-toggle="modal" data-bs-target="#ModalEliminarMarca">Eliminar</button>
                </div>
            </div>
        </div>
</body>

@*MODIFICAR*@
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const table = document.getElementById('TablaMarca');
        const btnModificar = document.getElementById('btnModificarMarca');

        let selectedRow = null;

        // Agrega el evento para seleccionar una fila
        table.addEventListener('click', (event) => {
            const row = event.target.closest('tr');

            if (row) {
                // Desmarcar cualquier fila previamente seleccionada
                if (selectedRow) {
                    selectedRow.classList.remove('table-active');
                }

                // Marcar la fila actual como seleccionada
                selectedRow = row;
                selectedRow.classList.add('table-active');
            }
        });

        // Rellena el modal con los datos del producto seleccionado
        btnModificar.addEventListener('click', () => {
            if (!selectedRow) {
                alert('Por favor selecciona una marca primero.');
                return;
            }

            const id = selectedRow.dataset.id;
            const nombre = selectedRow.dataset.nombre;

            // Asignar valores al modal
            document.getElementById('MarcaId').value = id;
            document.getElementById('Nombre_Marca').value = nombre;
        });
    });
</script>

@*ELIMINAR*@
<script>
    function seleccionarFila(fila) {
        // Obtén el Id desde el atributo data-id de la fila
        var id = fila.getAttribute("data-id");

        // Configura el input oculto en el modal para enviar el Id al backend
        document.getElementById("marcaId").value = id;
    }
</script>

@*BUSCAR*@
<script>
    function filtrarTabla() {
        // Obtén el texto ingresado en el campo de búsqueda y conviértelo a minúsculas para hacer la búsqueda insensible a mayúsculas/minúsculas.
        const filtro = document.getElementById("BuscarMarca").value.toLowerCase();

        // Obtén la referencia de la tabla donde se realizará el filtrado.
        const tabla = document.getElementById("TablaMarca");

        // Obtén todas las filas de la tabla (<tr>), incluyendo encabezados y datos.
        const filas = tabla.getElementsByTagName("tr");

        // Itera sobre todas las filas de la tabla, comenzando desde el índice 1 para saltar la fila de encabezado.
        for (let i = 1; i < filas.length; i++) {
            // Obtén todas las celdas (<td>) de la fila actual.
            const celdas = filas[i].getElementsByTagName("td");

            // Variable para determinar si esta fila debe mostrarse o no.
            let mostrarFila = false;

            // Si el checkbox "Nombre" está seleccionado:
            // Si el checkbox "Nombre" NO está seleccionado, busca el texto en todas las columnas de la fila.
            for (let j = 0; j < celdas.length; j++) {
                // Verifica si la celda existe y contiene el texto buscado.
                if (celdas[j] && celdas[j].innerText.toLowerCase().includes(filtro)) {
                    mostrarFila = true; // Marca esta fila para ser mostrada.
                    break; // Detén la búsqueda en esta fila, ya que se encontró una coincidencia.
                }
            }

            // Si se encontró coincidencia (mostrarFila es true), muestra la fila; de lo contrario, ocúltala.
            filas[i].style.display = mostrarFila ? "" : "none";
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</html>
